<div class='about-us flex flex-col'>
  <div class='about-title grid h-20 card rounded-box place-items-center'>About Us</div>

  <div class='about-desc text-center'>Borrowhood is a groundbreaking application designed to foster a sense of community
    and sustainability by facilitating the exchange of essential items among neighbors. In a world that often values
    individualism, Borrowhood champions the power of neighborly cooperation and resource sharing.
    <br />
    <br />
    At its core, Borrowhood serves as a digital bridge connecting people within a community. It provides a platform
    where individuals can easily lend and borrow a wide array of items, ranging from tools and equipment to household
    essentials. This concept goes beyond mere convenience; it's about building meaningful connections among neighbors
    and reducing the strain on our planet's resources.
    <br />
    <br />
    The heart of Borrowhood lies in its ability to encourage and promote community interaction. Through the platform,
    users can connect with their neighbors, forging bonds that extend beyond the virtual realm. It revitalizes the
    concept of the close-knit neighborhood, where individuals can depend on one another for support and assistance.
    <br />
    <br />
    By sharing items with neighbors, Borrowhood contributes to a significant reduction in unnecessary purchases. This,
    in turn, results in less waste being generated and fewer items ending up in landfills. The environmental impact is
    substantial, as it directly combats the throwaway culture that prevails in modern society.
    <br />
    <br />
    Getting started with Borrowhood is a breeze, ensuring that everyone can join in on the benefits of this
    community-driven initiative. With a quick and user-friendly sign-up process, individuals can immediately begin
    listing items they are willing to lend or start searching for items they need. This simplicity ensures that the
    community thrives and remains accessible to all, regardless of tech-savviness.
    <br />
    <br />
    In essence, Borrowhood is more than just an app; it's a movement that redefines how we relate to our neighbors, the
    environment, and our consumption habits. By embracing the principles of sharing and communal living, Borrowhood
    paves the way for a more sustainable, interconnected, and environmentally conscious future. So why wait? Join
    Borrowhood today and become a part of this transformative journey toward a brighter and more interconnected
    tomorrow.
  </div>

  <div class='divider'></div>

  <div class='contact-title grid h-20 card rounded-box place-items-center'>Contact Us</div>

  <div class='contact-desc text-center'>
    <p>Please feel free to reach out with
      any questions about our application or suggestions for future development!
      <br />
      <br />
    <div class="contact-details">
      <a href='https://github.com/aripandini'><i class='fa fa-github' style='font-size:30px; color:black;'></i> Arianne
        Pandini </a>
      <br />
      <a href='https://github.com/caitlinramsey'><i class='fa fa-github' style='font-size:30px; color:black;'></i>
        Caitlin Ramsey</a>
      <br />
      <a href='https://github.com/joshuawongg'><i class='fa fa-github' style='font-size:30px; color:black;'></i> Joshua
        Wongg</a>
      <br />
      <a href='https://github.com/skywalkah'><i class='fa fa-github' style='font-size:30px; color:black;'></i> Lucas
        Schvindt</a>
    </div>
    </p>
  </div>
</div>